@import '../../_variables.scss';

.cardWrapper {
  height: calc(100% + 5px);
  width: unset !important;
}
.slide {
  button::before {
    color: $CDOrange;
  }
}

.sectionListWrapper {
  display: flex;
  @media only screen and (max-width: 1440) {
    display: block !important;
  }
}
