.cardWrapper {
  height: calc(100% + 5px);
  width: unset !important;
}
.slide {
  button::before {
    color: rgba(237, 108, 2, 1);
  }
}

.sectionListWrapper {
  display: flex;
  @media only screen and (max-width: 1440) {
    display: block !important;
  }
}
