@import '../../_variables.scss';

.result {
  width: 100%;
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  border-radius: $xsRadius;
  color: white;
  &:hover {
    background-color: white;
  }
  &:hover div {
    color: black;
  }
  .leftSecion {
    display: flex;
    text-align: start;
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: $mdRadius;
    margin: 0 $smMargin;
  }
  .price {
    margin-right: $smMargin;
  }
}
