@import '../../_variables.scss';

.inputSection {
  width: 100%;
  position: relative;
  .resultSection {
    position: absolute;
    width: 100%;
    margin-top: $smMargin;
    background-color: rgb(169 116 73);
    border-radius: $xsRadius;
    border-top-left-radius: $xsRadius;
  }
}
