@import '../../_variables.scss';

.sectionListWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $mdMargin;
  .sectionList {
    display: inline-flex;
    border: 1px solid $CDOrange;
    border-radius: $mdRadius;
    span {
      border-radius: $smRadius;
      padding: $smPadding $mdPadding;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: rgba(237, 108, 2, 0.5);
      }
      @media only screen and (max-width: 600px) {
         padding: $smPadding;
         font-size: 14px;
      }
    }
    .selected {
      background-color: $CDOrange !important;
    }
  }

  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $mdMargin;
  }
}
