@import '../../_variables.scss';

.card {
  position: relative;
  width: 220px;
  @media only screen and (max-width: 600px) {
    width: 170px;
  }
  @media only screen and (max-width: 992px) and (min-width: 601px) {
    width: 190px;
  }
  cursor: pointer;
  &:hover {
    animation: remove-overflow 2s forwards;
  }
  &:hover .price {
    visibility: hidden;
  }
  &:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  &:not(:hover) {
    .invisButton {
      animation: remove-data 0.3s forwards;
    }
  }
  &:hover .invisButton {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
  }
  div {
    color: black;
  }
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: $smMargin;
  }
  .description {
    min-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invisButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $CDOrange;
    border-bottom-left-radius: $xsRadius;
    border-bottom-right-radius: $xsRadius;
    padding: $smPadding;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 2s 2s;
    button {
      &:hover {
        background-color: rgb(216, 99, 3);
      }
    }
  }
}

@keyframes show-data {
  50% {
    transform: translateY(-8rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
