// Colors
$CDOrange: rgba(237, 108, 2, 1);
$CDGreen: #0A6847;
$CDRed: #860A35;

// Project Padding Base
$xsPadding: 0.1875em;
$smPadding: 0.3125em;
$mdPadding: 0.625em;
$lgPadding: 1.25em;

// Project Margin Base
$xsMargin: 0.1875em;
$smMargin: 0.3125em;
$mdMargin: 0.625em;
$lgMargin: 1.25em;
$xlMargin: 1.875em;

// Project Radius Base
$xsRadius: 0.1875em;
$smRadius: 0.5em;
$mdRadius: 0.625em;
$lgRadius: 1.25em;
$xlRadius: 1.875em;